@import '../../styles/mixins';

.SessionRecordingPlaylist {
    @include screen($md) {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .SessionRecordingPlaylist__left-column {
        @include screen($md) {
            width: 300px;
            flex-shrink: 0;
        }
    }
    .SessionRecordingPlaylist__right-column {
        flex: 1;

        .SessionRecordingPlaylist__loading {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10rem;
        }
    }
}
